# CLOCKING
NET "IFCLK" TNM_NET = "IFCLK";
TIMESPEC "TS_IFCLK" = PERIOD "IFCLK" 20.833 ns HIGH 50 %;
NET "IFCLK" LOC = J19 | IOSTANDARD = LVCMOS33; 

NET "FXCLK" TNM_NET = "FXCLK";
TIMESPEC "TS_FXCLK" = PERIOD "FXCLK" 20.833 ns HIGH 50 %;
NET "FXCLK" LOC = Y18 | IOSTANDARD = LVCMOS33; 

# FX2-LP CONFIG
NET "SLRD"		LOC = "AB22" | IOSTANDARD = LVCMOS33 ; # RDY0/SLRD
NET "SLWR"		LOC = "AB21" | IOSTANDARD = LVCMOS33 ; # RDY1/SLWR
NET "FLAGA"		LOC = "K19" | IOSTANDARD = LVCMOS33 ; # CTL0/FLAGA
NET "FLAGB"		LOC = "K18" | IOSTANDARD = LVCMOS33 ; # CTL1/FLAGB
NET "SLOE"		LOC = "M20" | IOSTANDARD = LVCMOS33 ; # PA2/SLOE
NET "FIFOADDR0"	LOC = "N19" | IOSTANDARD = LVCMOS33 ; # PA4/FIFOADR0
NET "FIFOADDR1"	LOC = "N18" | IOSTANDARD = LVCMOS33 ; # PA5/FIFOADR1
NET "PKTEND"	LOC = "P17" | IOSTANDARD = LVCMOS33 ; # PA6/PKTEND

# DATA LINE
NET "fd<0>"		LOC = "P20" | IOSTANDARD = LVCMOS33 ;
NET "fd<1>"		LOC = "N17" | IOSTANDARD = LVCMOS33 ;
NET "fd<2>" 	LOC = "P21" | IOSTANDARD = LVCMOS33 ;
NET "fd<3>"		LOC = "R21" | IOSTANDARD = LVCMOS33 ;
NET "fd<4>"		LOC = "T21" | IOSTANDARD = LVCMOS33 ;
NET "fd<5>"		LOC = "U21" | IOSTANDARD = LVCMOS33 ;
NET "fd<6>"		LOC = "P19" | IOSTANDARD = LVCMOS33 ;
NET "fd<7>"		LOC = "R19" | IOSTANDARD = LVCMOS33 ;
NET "fd<8>"		LOC = "T20" | IOSTANDARD = LVCMOS33 ;
NET "fd<9>"		LOC = "U20" | IOSTANDARD = LVCMOS33 ;
NET "fd<10>"	LOC = "U18" | IOSTANDARD = LVCMOS33 ;
NET "fd<11>"	LOC = "U17" | IOSTANDARD = LVCMOS33 ;
NET "fd<12>"	LOC = "W19" | IOSTANDARD = LVCMOS33 ;
NET "fd<13>"	LOC = "W20" | IOSTANDARD = LVCMOS33 ;
NET "fd<14>"	LOC = "W21" | IOSTANDARD = LVCMOS33 ;
NET "fd<15>"	LOC = "W22" | IOSTANDARD = LVCMOS33 ;

# GPIOS
NET "RESET"     LOC = "M22" | IOSTANDARD = LVCMOS33 ; # PA0/INT0#
NET "START"     LOC = "M21" | IOSTANDARD = LVCMOS33 ; # PA1/INT1#
NET "MODE"		LOC = "R18" | IOSTANDARD = LVCMOS33 ; # PA7/FLAGD/SLCS#
NET "RUN"		LOC = "M18" | IOSTANDARD = LVCMOS33 ; # PA3/WU2
NET "REQA"		LOC = "L20" | IOSTANDARD = LVCMOS33 ; # PC0/GPIFADR0
NET "REQB"		LOC = "L19" | IOSTANDARD = LVCMOS33 ; # PC1/GPIFADR1
NET "REQC"		LOC = "L18" | IOSTANDARD = LVCMOS33 ; # PC2/GPIFADR2
NET "REQD"		LOC = "L16" | IOSTANDARD = LVCMOS33 ; # PC3/GPIFADR3
